In [10]:
import pandas as pd

In [11]:
df =  pd.read_csv("Data1.csv")

In [12]:
df

  Region  Sales  Profit
0  North    200      20
1  South    150      15
2   East    240      24
3  South    140      14
4   West    150      15
5   East    300      30
6   West    240      24
7  North    250      25

In [13]:
df.isnull().sum()

Region    0
Sales     0
Profit    0
dtype: int64

## Normalize_Salary

In [14]:
def normalize_salary(x):
    return (x - x.mean()) / x.std()

## Custom transformation using groupby and apply

In [17]:
def region_summary(group):
    return pd.Series({
        'Total_Sales': group['Sales'].sum(),
        'Avg_Profit': group['Profit'].mean(),
        'Sales_Range': group['Sales'].max() - group['Sales'].min()
    })

In [19]:
summary = df.groupby('Region').apply(region_summary)
print("Custom Transformation using apply + groupby:\n", summary)

Custom Transformation using apply + groupby:
         Total_Sales  Avg_Profit  Sales_Range
Region
East          540.0        27.0         60.0
North         450.0        22.5         50.0
South         290.0        14.5         10.0
West          390.0        19.5         90.0